.musicArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    background-image: linear-gradient(#646464, #2c2c2c);
}
.sideArea {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 50px;
    background-image: linear-gradient(#000000, #858383);

}
.coluna {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    padding-right: 500px;
}
.linha {
    display: flex;
    flex-direction: row;
    padding-left: -20px;
}

li {
    margin: 5px;
    list-style-type: none;
}
img {
    width: 16%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.fa {
    color: white !important;
}

body {
    /*background: linear-gradient(to left, #7700aa, #8800ff);*/
    background-color: white;
    text-align:center;
    color:#fff;
}

h3{
    text-shadow:1px 1px 1px #fff;
}
h1 {
    display: block;
    font-size: 70px;
    color: white;
    padding-top: 20px;
    font-weight: bolder;
}
h5 {
    display: block;
    text-align: left;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, serif;
}
h4 {
    display: block;
    text-align: left;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, serif;
}

h6 {
    display: block;
    text-align: left;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: Arial, serif;
}
.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    border: #0e0e0e;
    background-color: transparent;
}

table {
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: .5px solid white;
    text-align: left;
    padding: 8px;
}
